<a class="inset inset-{{type}}" href="{{link}}">

    <time class="inset-date" datetime="{{dateAttr}}"> {# format : "2011-11-18T 4:54:39.929" #}
        <span class="inset-date-day">{{dayText}}</span>
        </br>
        <span class="inset-date-month">{{monthText}}</span>
    </time> 
    <img class="" src="{{imgurl}}" alt="{{imgalt}}" />
    <span class="inset-title">{{ title }}</span>
    
</a>