<a class="inset inset-{{type}}" href="{{link}}">

    <time class="inset__date" datetime="{{dateAttr}}"> {# format : "2011-11-18T 4:54:39.929" #}
        <span class="inset__date-day">{{dayText}}</span>
        </br>
        <span class="inset__date-month">{{monthText}}</span>
    </time> 
    <img class="inset__img" src="{{imgurl}}" alt="{{imgalt}}" />
    <span class="inset__title">{{ title }}</span>
    
</a>