{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/insets.scss') }}">
{% endblock %}

{% block body %}

    <section class="section news">
        <h3 class="section__tile"> Les nouveautés</h3>
    
    {% for new in news_list %}
        <twig:Inset:News title="{{ new.title|e }}" link="{{ new.link|e }}" imgurl="{{ new.imgurl|e }}" imgalt="{{ new.imgalt|e }}" />
        {% else %} {# if no entities found #}
        <em>no data found</em>
    {% endfor %}

    </section>

    <section class="agenda">
        <h3 class="section__tile"> Les rendez Vous</h3>
    {% for date in agenda_list %}
      
        {{ component('Inset:Agenda', {
            title: date.title|e,
            link: date.link|e,
            imgurl: date.imgurl|e,
            imgalt: date.imgalt|e,
            dayText: date.dayText|e,
            monthText: date.monthText|e,
            dateAttr: date.dateAttr|e,
            }) 
        }}

        {% else %} {# if no entities found #}
        <em>no data found</em>
    {% endfor %}

     </section>

{% endblock %}
